body {
  background-color: rgb(102, 197, 235);
}

#block-mytheme-main-menu ul li {
  display: inline;
  margin: 0 10px;
  font-size: 18px;
}

#block-mytheme-main-menu {
  background-color: rgb(45, 223, 53);
  padding: 20px 0;
}

#block-mytheme-main-menu {
  font-size: 12px;
   
}
#block-mytheme-content {
  font-size: 24px;
}
#h1